export PROJECT_DIR=${PWD}
PATH=${PROJECT_DIR}/bin:${PATH}
SECRETS_DIR=${PROJECT_DIR}/secrets

watch_file "${SECRETS_DIR}/vault.crt"
watch_file "${SECRETS_DIR}/govc.env"
watch_file "${SECRETS_DIR}/supervisor.kubeconfig"

export TF_VAR_vault_ldap_bind_password=widely-underlie-daughter-crosier-schooner
export TF_VAR_vault_ldap_bind_dn=uid=vault,ou=systems,o=homelab,dc=crdant,dc=net
export TF_VAR_gcp_key_file=${SECRETS_DIR}/crdant-net-c3977ebcd86c.json
export TF_VAR_gcp_project=crdant-net
export TF_VAR_domain=crdant.net
export TF_VAR_email=cdantonio@vmware.com
export TF_VAR_project_root=${PROJECT_DIR}
export TF_VAR_environment=lab

export VAULT_ADDR=https://vault.lab.crdant.net

SECRETS_DIR=${PROJECT_DIR}/secrets
if [ -f "${SECRETS_DIR}/govc.env" ] ; then
  set -a
  . ${SECRETS_DIR}/govc.env
  set +a
fi

if [ -f "${SECRETS_DIR}/supervisor.kubeconfig" ] ; then
  export KUBECONFIG="${SECRETS_DIR}/supervisor.kubeconfig"  
fi
