PATH=${PWD}/bin:${PATH}

export VAULT_ADDR=https://vault.lab.crdant.net
export VAULT_CACERT=/usr/local/etc/certbot/live/vault.lab.crdant.net/cert.pem

SECRETS_DIR=${PWD}/secrets
watch_file "${SECRETS_DIR}/govc.env"
watch_file "${SECRETS_DIR}/kubeconfig"

if [ -f "${SECRETS_DIR}/govc.env" ] ; then
  set -a
  . ${SECRETS_DIR}/govc.env
  set +a
fi

if [ -f "${SECRETS_DIR}/kubeconfig" ] ; then
  export KUBECONFIG="${SECRETS_DIR}/kubeconfig"  
fi
